*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #23272A;
    color: white;
}

.navBar{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "name .  . navDesktop";
    align-items: center;
}

.navBar a:hover{
    color: #a1a1a1;
}
.name{
    grid-area: name;
    margin-left: 50%;
    font-size: 60px;
}

.nav-Desktop{
    font-weight: 500;
    grid-area: navDesktop;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    font-size: 18px;
}
.nav-Desktop a{
    cursor: pointer;
    margin-right: 50px;
    text-decoration: none;
    color:white;

}
.nav-right{
    display: none;
}
  
.landingWrapper{
    margin-top: 90px;
    display: grid;
    grid-template-columns:1fr;
    justify-items: center;
}

.headshot{
    border-radius: 50%;
    height: 420px;
}


.icons{
    font-size: 50px;
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
    margin: 10px;
}

.icons i:hover{
    color: #a1a1a1;
}

.sectionHead p{
    text-align: center;
    font-size: 70px;
    margin-top: 400px;
}



.aboutWrapper{
    margin:0px 5em 0px 12%;
    padding-top: 50px;
}
.aboutMain{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    column-gap: 5.5em;
    margin-bottom: 200px;
}

.aboutDescription p{
    display: flex;
    flex-direction: column;
    align-content: end;
    font-size: 22px;
    margin: 14px 44px 0px 0px;
}

.aboutGradient{
    height: 99%;
    width: 87%;
    background: rgb(91,192,190);
    background: linear-gradient(90deg, rgba(91,192,190,1) 0%, rgba(35,39,42,1) 100%, rgba(26,25,67,0) 100%);
}

.projectWrapper{
    margin:0px 7em 0px 12%;
}

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    column-gap: 5.5em;

}
.projectDemo img{
    width: 700px;
    border-radius: 2%;
}

.surveyPanda img{
    height: 525px;
}
.uba img{
    height: 450px;
}
.projectDescription h1{
    font-size: 45px;
}
.projectDescription p{
    font-size: 25px;
    margin: 50px 0;
}
.projectDescription ul{
    margin:20px 30px;
    font-size: 25px;
}

.projectLinks{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.myButton {
	background-color:#5bc0be;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:16px 28px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#539997;
}
.myButton:active {
	position:relative;
	top:1px;
}

.red{
    background-color: #b22222;
}

.red:hover{
   background-color:  #7a1a1a;
}

.contactWrapper{
    text-align: center;
}

.contactEmails{
    font-size: 25px;
    padding-bottom: 200px;
}
.contactEmails a {
    text-decoration: none;
    color:white;
    
}


@media screen and (max-width: 1000px){
.nav-Desktop{
    display: none;
}
.navBar{
    font-weight: bold;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name navRight";
    margin-top: -60px;
}
.name{
    margin:0;
    display:flex;
    font-size: 35px;
    justify-content: center;
}

.nav-right{
    grid-area: navRight;
    display: grid;
    justify-content: end;
    margin-right: 10%;
    margin-top: 145px;
}

.nav-links{
    margin-top: 10px;
}

.nav-right a {
    text-decoration: none;
    display: none;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3px;
    opacity: 0;
    cursor: default;
    font-size: 20px;
}

.toggle a {
    transition: all 0.2s ease-in;
    opacity: 1;
    cursor: pointer;
}

.burger{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.burger div{
    margin: 2px;
    background-color: #fff;
    height: 3px;
    width: 25px;
}
.landingWrapper{
    margin-top: -25px;
}

.headshot{
    height: 320px;
}

.icons{
    font-size: 50px;
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
}

.icons i:hover{
    color: #a1a1a1;
}

.sectionHead{
    font-size: 20px;
    padding-top: 100px;
}

.aboutWrapper{
    padding-top: 20px;
    margin:0px 10% 0px 10%;
}
.aboutMain{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    margin:0;
}
.aboutDescription p{
    margin:0;
    font-size: 15px;
}
.aboutGradient{
    display: none;
}
.projectWrapper{
    display: grid;
    justify-items: center;
}
.project{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 60px;
}
.projectDemo img{
    width: 300px;
    border-radius: 2%;
}

.surveyPanda img{
    height: 200px;
}
.uba img{
    height: 200px;
}
.projectDescription h1{
    margin-top: 20px;
    font-size: 30px;
}
.projectDescription p{
    font-size: 20px;
    margin: 50px 0;
}
.projectDescription ul{
    margin:20px 30px;
    font-size: 20px;
}

.projectLinks{
    margin-top: 50px;
    display: flex;
    width: 300px;
}
.projectLinks a{
    margin-bottom: 10px;
}
.myButton {
	font-size:13px;
	padding:10px 20px;
	text-decoration:none;
}
.contactWrapper{
    margin:0;
}
.contactEmails{
    font-size: 20px;
    padding-bottom: 200px;
}
}